body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Ẩn thanh cuộn */
  background-color: #87CEEB; /* Trùng màu nền game */
}

canvas {
  display: block; /* Xóa khoảng trắng dưới chân canvas */
  width: 100vw;
  height: 100vh;
}